<div class="body-wrapper">
    <div id="home" >
            <div class=" container row ">
                    <div class="col-lg-12 center-block">
                        <h1 class="landing-heading animated fadeIn">  XENON LABS</h1>
                    </div>
                </div> 
    </div>
<!-- animated fadeIn -->
    <!-- <div class="row">

	<h1 class="landing-heading">XENON LABS</h1> 
	</div> -->



    <!-- About -->
    <div id="about" class="subsecPadding whiteSection parrallax" deluminate_imagetype="jpg">
        <h2 class="h2">ABOUT US</h2>
        <br />
        <p class="p">Xenon Labs is a software development firm. Our team focuses on providing solutions to our client's
            software problems and needs. We specialize in Web, iOS, and Android Development, but we are commited to
            tackle various types of software problems.</p>
    </div>

    <!-- Skills -->
    <div id="skills" class="parrallax">
        <app-skills [title]="skills_title" [skills]="skills"></app-skills>
    </div>

    <!-- Contact -->
    <div id="contact" class="parrallax">
        <app-form [title]="contact_title"></app-form>
    </div>

</div>