<div class="body-wrapper">
  <div id="home">
    <div class=" container row  ">
      <div class="col-lg-12 center-bloc position-fixed">
        <h1 class="landing-heading animated fadeIn"> XENON LABS</h1>
      </div>
    </div>
  </div>


  <!-- About -->
  <div id="about" class="subsecPadding whiteSection parrallax" deluminate_imagetype="jpg">
    <h2 class="h2">ABOUT US</h2>
    <br />
    <p class="p">Xenon Labs is a software development firm driven by a team of passionate software engineers. Our
      team focuses on providing solutions to our client's software problems and needs. Big or small we are
      committed to tackle various types of software tasks.</p>

  </div>

  <!-- Skills -->
  <div id="skills" class="parrallax" >
    <app-skills [title]="skills_title" [skills]="skills"></app-skills>
  </div>

  <!-- Process -->
  <div id="process" class="parrallax">
    <app-process [title]="process_title" [processes]="processes"></app-process>
  </div>

  <!-- Contact -->
  <div id="contact" class="parrallax">
    <app-form [title]="contact_title"></app-form>
  </div>

</div>
