<div class="body-wrapper">
    <div id="home" class="bgimg-1 parrallax">
    </div>

    <!-- <div class="row">

	<h1 class="landing-heading">XENON LABS</h1> 
	</div> -->

    <div class="row mt-10">
        <div class="col-sm-3 text-center position-fixed"></div>
        <div class="col-sm-6 text-center position-fixed">
            <h1 class="landing-heading animated fadeIn">XENON LABS</h1>
        </div>
        <div class="col-sm-3 text-center position-fixed"></div>
    </div>

    <!-- About -->
    <div id="about" class="subsecPadding whiteSection parrallax" deluminate_imagetype="jpg">
        <h2 class="h2">ABOUT US</h2>
        <br />
        <p class="p">Xenon Labs is a software development firm. Our team focuses on providing solutions to our client's software problems and needs. We specialize in Web, iOS, and Android Development, but we are commited to tackle various types of software problems.</p>
    </div>

    <!-- Skills -->
    <div id="skills" class="parrallax">
        <app-skills [title]="skills_title" [skills]="skills"></app-skills>
    </div>

    <!-- Contact -->
    <div id="contact" class="parrallax">
        <app-form [title]="contact_title"></app-form>
    </div>

</div>