// Core Theme Variables
$color-primary: white;
$color-accent: black;
$color-idle: rgba(0,0,0,.5);


// Social Media Link Colors
$twitter-color: #01ABED;
$linkedin-color: #0274B3;
$facebook-color: #38569E;
$instagram-color: #E12E71;

// Border Variables
$border-color-light: #ddd;
$background-footer: rgba(0,0,0,.01);
$border-footer: .5px solid rgba(0,0,0,.03);

// Font Variables
$font-familyReg: 'montserrat', 'arial', 'sans-serif';
$font-sizeHeader: 2em;
$font-familySemiBold: 'montserrat-semibold', 'arial', 'sans-serif';